.h_navbar, .h_footer{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 60px;
    background-color: #0169FF;
}

.h_navbar{
    margin-bottom: 15px;
}

.h_nav, .h_main, .h_side{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 450px;
    background-color: #66A3FE;
}

.h_footer{
    margin-top: 15px;
}










@media only screen and (max-width: 600px){
    .h_nav, .h_main, .h_side{
        min-height: 100px;
    }

    .h_main{
        margin: 10px 0;
    }
}